{% extends 'Merequetengue/base_template.html' %}

{% block title %}
    {% if pegoste %}
        {{ pegoste.title }}
    {% else %}
        I do not think so...
    {% endif %}
{% endblock %}

{% block content %}
    {% if pegoste %}

        <h1>{{ pegoste.title }}</h1>

        {% if pegoste.subtitle %}
            <h2>{{ pegoste.subtitle }}</h2>
        {% endif %}
        <p>
            {{ pegoste.content }}
        </p>

        {% if pegoste.image %}
            <p>
                <img src="{{ pegoste.image.url }}" alt="{{ pegoste.image.name }}">
            </p>
        {% endif %}

        <p>
            Pegosteado by <strong>{{ pegoste.author.get_full_name }}</strong>
            on <em>{{ object.publish_date }}</em>
        </p>
    {% else %}
        <p>That pegoste does not exists!</p>
    {% endif %}
{% endblock %}

{% block recent %}
    {% if recents %}
        Still warm...
        <ul>
            {% for recent in recents %}
                <li><a href="{% url 'Fandango:pegoste' recent.author.username recent.slug %}">{{ recent.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        No recent pegostes
    {% endif %}
{% endblock %}