{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/fandango_style.css' %}">
    <title>{% block title %}Let's Fandango!{% endblock %}</title>
</head>
<body>
<div id="navigation">
    {% block navigation %}

        <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'Fandango:pegosteador_home' user %}">{{ user }} home</a></li>
            <li><a href="{% url 'accounts:logout' %}">Vámonos!</a> (Logout, d-oh!)</li>
        {% else %}
            <li><a href="{% url 'Fandango:home' %}">Home</a></li>
            <li><a href="{% url 'accounts:login' %}">Come in!</a> (Yeah, login)</li>
            <li><a href="{% url 'accounts:register_pegosteador' %}">Register!</a></li>
        {% endif %}
        </ul>

    {% endblock %}
    <br>
</div>

<div id="content">
    {% block content %}
        <p>Welcome to Fandango!</p>
    {% endblock %}
</div>

<div>
    {% block recent %}{% endblock %}
</div>

<div>
    {% block footer %}
        <p><a href="{% url 'about' %}">Who are we?</a> (We're not Batman)</p>
    {% endblock %}
</div>

</body>
</html>